<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Módulos</title>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles.index.css" />
</head>

<body>

    <!-- ENCABEZADO -->
    <header>
        <a href="landing-page.html">
            <img src="../img/logo-adin.png" alt="Logo ADIN" class="logo-header" />
        </a>
        <section class="welcome h2">
            <h2>these are our modules</h2>
        </section>
        <div class="header-buttons">
            <button class="register">👤</button>
        </div>
    </header>


    <!-- SECCIÓN DE MÓDULOS -->
    <section class="cards">

        <div class="card">
            <h3>Simple Tenses</h3>
            <p>Used to talk about facts, habits, and completed actions. They're the foundation of everyday
                communication.</p>
            <a href="simple-tenses.html" class="menu-button">Go!</a>
        </div>

        <div class="card">
            <h3>Continuous Tenses</h3>
            <p>Focus on actions happening at a specific moment. Great for describing events in progress.</p>
            <a href="Continuous-Tenses.html" class="menu-button">Go!</a>
        </div>

        <div class="card">
            <h3>Perfect Tenses</h3>
            <p>Help connect past actions to the present or other points in time. Useful for showing experiences,
                results, and sequences.</p>
            <a href="Perfect-Tenses.html" class="menu-button">Go!</a>
        </div>

        <div class="card">
            <h3>Perfect Continuous Tenses</h3>
            <p>Combine time and duration. They express actions that started earlier and are still continuing or have
                visible effects.</p>
            <a href="Perfect-Continuous-Tenses.html" class="menu-button">Go!</a>
        </div>

        <div class="card">
            <h3>Verbs</h3>
            <p>Explore essential English verbs to improve your communication. Learn how to use them in different tenses
                and everyday situations.</p>
            <a href="../sub_t/Verbos/Verbos.html" class="menu-button">Go!</a>
        </div>

    </section>


    <!-- Footer -->
    <footer>
        <div class="footer-left">
            Page created by a group of students <br> from the National Learning Service <br>(SENA) <br />
            <p>#ADSO</p>
        </div>

        <!-- logo -->
        <div class="footer-logo">
            <img src="../img/logo-adin.png" alt="Logo ADIN" class="footer-logo" />
        </div>
        <div class="footer-right">
            <div>
                <p class="p-footer">Contact us at</p>
            </div> <br />
            <a>adinonamegente@gmail.com</a><br>
            +57 3107588107<br />
            Cúcuta, Colombia
        </div>


        <div class="footer-line"></div>

        <div class="footer-center">© 2025 Adin. All rights reserved.</div>
    </footer>

</body>

</html>